.texte {
  text-align: center;
    }
    .bienve{
      color:crimson;
    }
.pays{
  position: fixe;
  background: url(../../assets/img/culure.jpg);
  margin: 5px auto;
  border-radius: 20px;
  padding: 0px 0;
  .site{
    text-transform: capitalize;
    text-align: left;
    font-size: x-large;
    color: antiquewhite;
  }
 
  
}